<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>ESN</title>
  </head>
  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <nav id = "efg"></nav> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" onclick="jumpToPublicWall()" style="color: white">
            <img src="/pic/example.png" width="30" height="30" class="d-inline-block align-top" alt="">
          ESN
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link" onclick="jumpToAnnouncement()">Announcements</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="jumpToDonation()">Donation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="jumpToEmergencyContact()">Emergency Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="jumpToDelivery()">Food Delivery</a>
              </li>
              <li class="nav-item" id="jumpToMeasure">
                <a class="nav-link" onclick="jumpToMeasure()">Measure Performance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="jumpToPublicWall()">Public Wall<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="jumpToShelter()">Shelters</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="jumpToShop()">Shop For All</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" onclick="jumpToDirectory()">User Directory</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="jumpToProfile()">User Profile</a>
              </li>
            </ul>
           
          </div>
    </nav>





    <div style="margin: 10px; background-color:lightgray; max-width: 100%; height: auto; margin: 5%; display: flex; flex-direction: column; align-items: center;">
      <div style=" margin: 10px;display: flex; flex-direction: row; align-items: center;  width: 100%; height: 50px; font-size: 25px;">
        &nbsp;  &nbsp; <b> My Requests </b>  &nbsp;
        <div id="roleText" style="width: 40%;"></div> 
      </div>

      <div id = "myDonationRequestContainer" style="max-width: 100%; margin: 5%;">
      </div>


      <div id="" style="width: 32%;" ></div> 
      <button class="btn btn-dark" onclick="location.href='/users/profile/'+localStorage.getItem('username')">Back</button>
    </div>





    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript"   src="../../../public/jumpPage"></script> 
    

    <!-- <script src="../../public/myDonationRequest"></script>  -->

  <script>
        var username = localStorage.getItem('username')
        var socket =  io({
            query:{
                user: username
            }
        })
        socket.on('connect',()=>{  
          console.log("mydonationrequest: ")
            updateUserSocketMap(username, socket)
        })

        console.log("getting requestt now")
        socket.on('newRequest', function(donationID){
          console.log("getting requesttttttttt now")
            var prev_newRequestList= JSON.parse(localStorage.getItem('newRequest'))
            if(prev_newRequestList.indexOf(donationID)<=-1){
                prev_newRequestList.push(donationID)
            }
            localStorage.setItem('newRequest', prev_newRequestList)
        })

        socket.on('newReply', function(requestID){
            var prev_newReplyList = JSON.parse(localStorage.getItem('newReply'))
            if(prev_newReplyList.indexOf(requestID)<=-1){
                prev_newReplyList.push(requestID)
            }
            localStorage.setItem('newReply', prev_newReplyList)
        })

        getAndShowMyDonationRequest()
        function updateUserSocketMap(username, socket){
            var data = {
                'username': username,
                'socket':socket.id
            }
            $.ajax({
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify(data),
                type: 'put',
                url: '/messages/public/socketUpdate',
                dataType: 'json',
                success: function (data, status, jqXHR) {
                    //console.log(username+" directory socket update success")
                },
                error: function(jqXHR, status, err){
                    //console.log(username+" directory socket update failed")
                }
            })
        }

        function getAndShowMyDonationRequest(){
            var data = {
              'donee': localStorage.getItem('username')
            }
            $.ajax({
                contentType: 'application/json; charset=UTF-8',
                type: 'put', 
                url: "/donations/myRequests" ,
                data: JSON.stringify(data),
                dataType: "json",
                success: function (data, status, jqXHR) {
                    const myDonationRquests = data["data"]
                    for(let i = Math.max(0, myDonationRquests.length-30); i < myDonationRquests.length; i++){
                      
                      displaySingleMyDonationRequest(myDonationRquests[i].itemName, myDonationRquests[i].status, myDonationRquests[i].unread)
                      //after displaying all the request, update the status to be unread == false

                      var data = {
                        'requestID': myDonationRquests[i]._id,
                        'unread':"false"
                      }
                      $.ajax({
                        contentType: 'application/json; charset=UTF-8',
                        type: 'put', 
                        url: "/donations/myRequests/unread" ,
                        data: JSON.stringify(data),
                        success: function (data, status, jqXHR) {
                          console.log("getting unread request ;")
                        }
                      })
                    }
                },
                error: function(jqXHR, status, err){
                    alert("myDonationRquests loading failed", err);
                }
              })
        }

        function displaySingleMyDonationRequest(itemName, status,unread){
        //     <!-- <div class="card text-white bg-secondary mb-3" style="max-width: 100%;" onclick="location.href = '/views_refactor_temp/private_chat.html'"> 
        //     <div class="card-header">
        //         <p id="itemName" style="float: left;padding-right: 5px;">User1</p>
        //         <p id="status" style="float: right">pending</p>
        //     </div>
        //   </div>
            const myDonationRequestItemName = document.createElement('p')
            myDonationRequestItemName.id = "itemName"
            myDonationRequestItemName.style = "float: left;padding-right: 5px;"
            myDonationRequestItemName.innerHTML = itemName


            const myDonationRequestStatus = document.createElement('p')
            myDonationRequestStatus.id = "status"
            myDonationRequestStatus.style = "float: right"
            myDonationRequestStatus.innerHTML = status


            const myDonationRequestCardHeader = document.createElement('div')
            myDonationRequestCardHeader.className = "card-header"
            myDonationRequestCardHeader.appendChild(myDonationRequestItemName)
            myDonationRequestCardHeader.appendChild(myDonationRequestStatus)
            
            if(unread === "true"){
              const myDonationRequestUnreadImg = document.createElement("img")
              myDonationRequestUnreadImg.src = "/pic/green_dot.png"
              myDonationRequestUnreadImg.width = "10"
              myDonationRequestUnreadImg.height = "10"
              myDonationRequestCardHeader.appendChild(myDonationRequestUnreadImg)
            }


            const myDonationRequestCard = document.createElement('div')
            myDonationRequestCard.className = "card text-white bg-secondary mb-3"
            myDonationRequestCard.style = "max-width: 100%;"
            myDonationRequestCard.appendChild(myDonationRequestCardHeader)

            const myDonationRequestList = document.getElementById("myDonationRequestContainer")
            myDonationRequestList.prepend(myDonationRequestCard)
        }

        function jumpToPublicWall(){
            window.location.href = "/users/public/"+localStorage.getItem('username')
        }

        function jumpToDirectory(){
            window.location.href = "/users/directory/"+localStorage.getItem('username')
        }

        function jumpToMeasure(){
            window.location.href = "/users/measure/"+localStorage.getItem('username')
        }

        function jumpToAnnouncement(){
            window.location.href = "/users/announcement/"+localStorage.getItem('username')
        }

        function jumpToProfile(){
            window.location.href = "/users/profile/"+localStorage.getItem('username')
        }

        function jumpToDonation(){
            window.location.href = "/users/donation/"+localStorage.getItem('username')
        }
  </script>



  </body>
</html>